<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css">
    <title>Game</title>
    
</head>

<body>
    <div class="form-group" id="app">
        <h1 class="">Seleccione: </h1>
        <h1>Piedra, Papel o Tijera</h1>
        
        <select class="form-control col-md-3" v-model="opcion">
              <option value="1">Piedra</option>
              <option value="2">Papel</option>
              <option value="3">Tijera</option>
            </select>
        
        <button type="button" class="btn btn-outline-dark btn-lg btn-block col-md-2" v-on:click="miFuncion()">Jugar</button>
        <h1 class="text-center"> {{ Mensaje }}</h1>

    </div>

    <!-- <script>
        const app = new Vue({

            el: '#app',
            data: {
                opcion: 0,
                Mensaje: ''
            },
            methods: {
                miFuncion() {

                    var ale = Math.round(Math.random() * (4 - 1) + 1)

                    var compu = ""
                    var tu = ""

                    if (this.opcion == 1) {
                        tu = "piedra"
                    } else if (this.opcion == 2) {
                        tu = "papel"
                    } else if (this.opcion == 3) {
                        tu = "tijera"
                    }

                    if (ale == 1) {
                        compu = "piedra"
                    } else if (ale == 2) {
                        compu = "papel"
                    } else if (ale == 3) {
                        compu = "tijera"
                    }

                    if (compu == "piedra" && tu == "papel") {
                        this.Mensaje = "Ganastes!"
                    } else if (compu == "papel" && tu == "tijera") {
                        this.Mensaje = "Ganastes!"
                    } else if (compu == "tijera" && tu == "piedra") {
                        this.Mensaje = "Ganastes!"
                    } else if (compu == "papel" && tu == "piedra") {
                        this.Mensaje = "Perdistes!"
                    } else if (compu == "tijera" && tu == "papel") {
                        this.Mensaje = "Perdistes!"
                    } else if (compu == "piedra" && tu == "tijera") {
                        this.Mensaje = "Perdistes!"
                    } else if (compu == tu) {
                        this.Mensaje = "Empate!"
                    }

                }

            }
        })
    </script> -->
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</html>